*
{
    font-family: Verdana, Arial;
}

body
{
    margin: 0px;
}

nav
{
    font-style: italic;
    background-color: #A3C8F7;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    box-shadow: 0px 4px 3px grey;
}

nav button
{
    background-color: #F7BE81;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}

nav button:hover
{
    background-color: #ED9E4A;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    cursor: pointer;
}

nav a
{
    text-decoration: none;
    color : white;
    font-weight: bold;
}

section
{
    width: 80%;
    margin: auto;
}

input
{
    display: none;
}

input + label
{
    border: solid;
    border-width: 2px;
    border-radius: 7px;
    padding: 2px;
    background-color: #B5B5B5;
}

input + label:hover
{
    cursor: pointer;
}

table
{
    text-align: right;
    border: solid;
    border-width: 2px;
    border-color: black;
    max-height: 100px;
    overflow: scroll;
}

.beg, .end
{
    text-align: left;
}

#tableHead
{
    font-size: 1.3em;
    text-align: center; 
}

